{% if product.metafields.custom_fields["marthas_notes_content"] != blank %}
  <div class="custom-field custom-field__marthas-notes-content custom-field__type--html">
    <h3 class="custom-field--title">Martha's Notes Content</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["marthas_notes_content"] }}
    </div>
  </div>
{% endif %}