{% if product.metafields.custom_fields["tagline"] != blank %}
  <div class="custom-field custom-field__tagline custom-field__type--text">
    <h3 class="custom-field--title">Tagline</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["tagline"] }}
    </div>
  </div>
{% endif %}