{% if product.metafields.custom_fields["region_single_line"] != blank %}
  <div class="custom-field custom-field__region-single-line custom-field__type--text">
    <h3 class="custom-field--title">Vineyard Single Line</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["region_single_line"] }}
    </div>
  </div>
{% endif %}