{% if product.metafields.custom_fields["marthas_notes_image"] != blank %}
  <div class="custom-field custom-field__marthas-notes-image custom-field__type--image">
    <h3 class="custom-field--title">Hero Banner</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["marthas_notes_image"], print: 'url' %}
    </div>
  </div>
{% endif %}