{% if product.metafields.custom_fields["partnership_name"] != blank %}
  <div class="custom-field custom-field__partnership-name custom-field__type--text">
    <h3 class="custom-field--title">Partnership Name</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["partnership_name"] }}
    </div>
  </div>
{% endif %}