{% if article.metafields.custom_fields["dark_logo"] != blank %}
  <div class="custom-field custom-field__dark-logo custom-field__type--image">
    <h3 class="custom-field--title">Dark Logo</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields.custom_fields["dark_logo"], print: 'url' %}
    </div>
  </div>
{% endif %}