{% if product.metafields.custom_fields["volume"] != blank %}
  <div class="custom-field custom-field__volume custom-field__type--text">
    <h3 class="custom-field--title">Volume</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["volume"] }}
    </div>
  </div>
{% endif %}