{% if product.metafields.custom_fields["alcohol_by_volume"] != blank %}
  <div class="custom-field custom-field__alcohol-by-volume custom-field__type--text">
    <h3 class="custom-field--title">Alcohol By Volume</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["alcohol_by_volume"] }}
    </div>
  </div>
{% endif %}