{% if product.metafields.custom_fields["testimonial_url"] != blank %}
  <div class="custom-field custom-field__testimonial-url custom-field__type--url">
    <h3 class="custom-field--title">Testimonial URL</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["testimonial_url"] }}
    </div>
  </div>
{% endif %}