{% if product.metafields.custom_fields["playlist_link"] != blank %}
  <div class="custom-field custom-field__playlist-link custom-field__type--url">
    <h3 class="custom-field--title">Playlist Link</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["playlist_link"] }}
    </div>
  </div>
{% endif %}