{% if shop.metafields.custom_fields["password_recovery_error_messag"] != blank %}
  <div class="custom-field custom-field__password-recovery-error-messag custom-field__type--html">
    <h3 class="custom-field--title">Password Recovery Error Messag</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["password_recovery_error_messag"] }}
    </div>
  </div>
{% endif %}