{% if shop.metafields.custom_fields["forgot_password_content"] != blank %}
  <div class="custom-field custom-field__forgot-password-content custom-field__type--html">
    <h3 class="custom-field--title">Forgot Password Content</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["forgot_password_content"] }}
    </div>
  </div>
{% endif %}