{% if product.metafields.custom_fields["drink_when"] != blank %}
  <div class="custom-field custom-field__drink-when custom-field__type--html">
    <h3 class="custom-field--title">Drink When</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["drink_when"] }}
    </div>
  </div>
{% endif %}