{% if article.metafields.custom_fields["color_logo"] != blank %}
  <div class="custom-field custom-field__color-logo custom-field__type--image">
    <h3 class="custom-field--title">Color Logo</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields.custom_fields["color_logo"], print: 'url' %}
    </div>
  </div>
{% endif %}