{% if product.metafields.custom_fields["region_description"] != blank %}
  <div class="custom-field custom-field__region-description custom-field__type--html">
    <h3 class="custom-field--title">Vineyard Description</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["region_description"] }}
    </div>
  </div>
{% endif %}