<div>
</div>

{% schema %}
    {
        "name": "Icon Card",
        "tag": "section",
        "blocks": [
            {
                "type": "icon",
                "name": "Icon",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "icon",
                        "label": "Icon"
                    }
                ]
            },
            {
                "type": "heading",
                "name": "Heading",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "default": "Heading",
                        "label": "Heading"
                    }
                ]
            },
            {
                "type": "text",
                "name": "Text",
                "limit": 1,
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "default": "<p>Pair text with an icon to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Icon Card",
                "blocks": [
                    {
                        "type": "icon"
                    },
                    {
                        "type": "heading"
                    },
                    {
                        "type": "text"
                    }
                ]
            }
        ]
    }
{% endschema %}
