{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

  <div class="flex flex-wrap collection-nav">
    <div class="w-full p-32 md:p-64">
      <nav>
        <ul class="flex flex-wrap justify-center">
          <li class="px-32 py-8">
            <a href="/collections/all" class="hover:text-vine">
              All Wine
            </a>
          </li>
          {% for collection in collections %}
            {% if collection.metafields.custom_fields.show_as_filter %}
              <li class="px-32 py-8">
                <a href="{{ collection.url }}" class="hover:text-vine">
                  {{ collection.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
