{% if product and product.metafields.custom_fields.marthas_notes_content or product and product.metafields.custom_fields.marthas_notes_image %}
    <div class="flex flex-wrap lg:p-64 lg:px-32{% if product.metafields.custom_fields.marthas_notes_content != blank %} md:pb-32{% else %} md:pb-48 lg:pb-48{% endif %} justify-center">
        {% if product.metafields.custom_fields.marthas_notes_image %}
            <div class="w-full pt-32 mx-32 pb-16">
                <div class="aspect-w-3 md:aspect-w-11 aspect-h-4 media">
                    <img
                       src="{{ product.metafields.custom_fields.marthas_notes_image }}"
                       class="object-center object-cover"
                       loading="lazy"
                        alt="{{ product.metafields.custom_fields.marthas_notes_image.alt | escape }}"
                    >
                </div>
            </div>
        {% endif %}

        {% if product.metafields.custom_fields.marthas_notes_content %}
            <div class="w-full md:px-32 lg:px-64">
                <div class="flex flex-wrap lg:-mx-32">
                    <div class="w-full lg:w-1/3 p-32 pb-0 lg:pb-32">
                        <h2 class="image-with-text__heading h1 text-fullMoon mt-0">
                            Martha's Notes
                        </h2>
                    </div>
                    <div class="w-full lg:w-2/3 p-32">
                        {{ product.metafields.custom_fields.marthas_notes_content }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "Martha's Notes",
    "tag": "section",
    "presets": [
        {
            "name": "Martha's Notes"
        }
    ]
}
{% endschema %}