{% if product and product.media %}
    <div class="flex flex-wrap p-32 pt-16 md:px-64 -mx-48 justify-center">
        {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                {% unless forloop.first %}
                    <div class="w-full md:w-1/3 p-48">
                        <div class="aspect-w-3 aspect-h-4">
                            <img
                                src="{{ media | img_url: '450x' }}"
                                class="w-full h-full object-center object-cover lg:w-full lg:h-full"
                                alt=""
                            >
                        </div>
                    </div>
                {% endunless %}
            {%- endunless -%}
        {%- endfor -%}
    </div>
{% endif %}

{% schema %}
{
    "name": "Product Image Gallery",
    "tag": "section",
    "presets": [
        {
            "name": "Product Image Gallery"
        }
    ]
}
{% endschema %}