{{ 'section-stockist.css' | asset_url | stylesheet_tag }}

<div class="container mx-auto {% if section.settings.reduce_top_spacing and section.settings.reduce_bottom_spacing != true %}pb-64{% elsif section.settings.reduce_bottom_spacing %}pt-64{% elsif section.settings.reduce_spacing != true %}py-64{% endif %}">
    <div class="flex flex-wrap justify-center {% if section.settings.reduce_top_spacing %}px-32{% else %}p-32 md:p-64 py-128{% endif %}">
        {% comment %}TODO: Stockist Embed Code{% endcomment %}
    </div>
</div>


{% schema %}
{
    "name": "Stockist",
    "presets": [
        {
            "name": "Stockist"
        }
    ]
}
{% endschema %}
