{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

<div>
   <div class="flex flex-wrap px-32 lg:px-64 -mx-32 pb-120 pt-80">
       <div class="w-full px-32 py-8">
           <h2>{{ section.settings.heading }}</h2>
       </div>
       <div class="w-full md:w-1/2 px-32">
           {{ section.settings.text }}
       </div>
       <div class="w-full md:w-1/2 text-left md:text-right px-32 py-8">
           <div class="md:pr-48">
               <a href="{{ section.settings.blog.url }}" class="button--text button--text-dark">
                   Read More
                   <span class="arrow"></span>
               </a>
           </div>
       </div>
       <div class="w-full px-32 py-8 pt-40">
           <div class="flex flex-wrap -mx-32">
               {% for block in section.blocks %}
                   <div class="w-full md:w-1/3 p-32">
                       {%- render 'article-card', article: block.settings.article -%}
                   </div>
               {% endfor %}
           </div>
       </div>
   </div>
</div>

{% schema %}
{
    "name": "Recent Blog Posts",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "The Latest From",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "<p>These distinctly savory wines offer ample body and brightness as days get brighter and nights get sweeter.</p>",
            "label": "Text"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog Link"
        }
    ],
    "blocks": [
        {
            "type": "blog",
            "name": "Blog",
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Article"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Recent Blog Posts"
        }
    ]
}
{% endschema %}
