/* ==== Bloom Styling ================================================= */


/* ==== Membership Pages ==== */
#membershipSection {
  .uk-card-default {
    box-shadow:none;
  }
  .uk-card-body {
    padding:20px 20px;
    @media only screen and (min-width:769px) {
      padding:30px 30px;
    }
  }
  .membership-cards {
    // Font overrides
    .card-body {
      h3 {
        color: #000;
        font-style:normal;
        font-size: 24px;
      }
      h5 {
        color: #000;
        margin-bottom:30px;
      }
      p {
        font-family: 'Courier Prime Sans',monospace;
        color: #000;
        margin-bottom:10px;
      }
    }

    // Card overrides
    .uk-card-body:hover {
      .button {
        border-color: #a46f4d;
        background-color: #a46f4d;
        color: #f9f5ea;
      }
      h3 {
        color: rgba(14,83,86,1);
        font-style: italic;
      }
    }
  }
  .text-card {
    h3 {
      color: #000;
    }
    p {
      color: #000;
      line-height: 2.5rem;
    }
    a {
      text-decoration: underline;
      color: #000;
    }
  }
}

