.newsletter-form {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    /*max-width: 50rem;*/
  }
}

/*.newsletter-form__field-wrapper {*/
/*  width: 100%;*/
/*}*/

.close-button {
  font-family: 'Courier Prime Sans', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 16px;
    bottom: -40%;
  }
}

.newsletter-form__button {
  margin-left: 1.4rem;
}

@media screen and (max-width: 989px) {
  .newsletter-form__button {
    width: 100%;
    margin: 1.4rem 0 0 0;
  }
}
