.article-card {
  align-self: flex-start;
  flex: 0 1 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.article-card a:hover h2 {
  color: #0E5356;
  text-decoration: underline;
}

.article-card__info .date {
  font-family: 'Courier Prime Sans', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  display: block;
}

.article-card__info h2 {
  font-size: 24px;
  line-height: 24px;
}

.article-card__footer span {
  font-family: 'Courier Prime Sans', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-default) ease;
}

.article-content:hover img {
  transform: scale(1.07);
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}