.faq .accordion h3 {
    font-family: 'Baton Web', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.faq .accordion .accordion--content a:hover {
    color: #0E5356;
}

.faq .accordion {
    margin: 0;
}

.faq .accordion:not(:last-of-type) {
    border-bottom: 1px solid #30292F;
}

[data-accordion]:hover {
    cursor: pointer;
}